/* diselo.scss */

/* Variables */
$font-size-large: 3em;
$font-size-medium: 2em;
$header-background: rgba(0, 0, 0, 0.5);
$text-color-light: rgb(230, 230, 240);
$text-color-dark: blue;

.mi_fondo {
    width: 1358px;
    height: auto;
}

h1 {
    position: absolute; 
    top: 20px; 
    left: 15%;
    font-size: $font-size-large;
    width: 900px;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    color: $text-color-dark;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    color: #fff;
    text-align: center;
    background: $header-background;
    padding: 20px;
    border-radius: 10px;
}

.elegir {
    position: absolute;
    top: 804px;
    left: 55%;
    transform: translateX(-50%);
    font-size: $font-size-medium;
    color: $text-color-light;
    text-align: center;
}

main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

main img {
    width: 313px;
    height: auto;
    position: relative;
    top: 930px;
    border-radius: 150px;
    left: 40px;
}

.dragon_selection {
    position: absolute;
    top: 1050px;
    left: 100px;
    color: blueviolet;
    padding: 10px;
    border-radius: 15px;
}

.dragon_selection label {
    font-size: 25px;
}

button {
    top: 1075px;
    left: 159px;
    background-color: rgb(114, 97, 116);
}

.fondo-ataque {
    width: 1358px;
    height: 1000px;
}

.contador-vidas {
    position: absolute;
    top: 8%;
    left: 8%;
    color: aliceblue;
    width: 450px;
    height: 200px;
}

.elige-ataque {
    position: absolute;
    top: 45%;
    left: 48%;
    color: blueviolet;
    width: 500px;
    height: 200px;
}

.ataques {
    position: absolute;
    top: 90%;
    left: 45%;
}

.mensajes-ataques {
    position: absolute;
    top: 110%;
    left: 50%;
}